*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.contecnt{
    background-color: #fff;
    width: 100%;
    height: 100vh;
}
.contecnt-active {
    background-color: black;
    color: #fff;
    width: 100%;
    height: 100vh;
}
